<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tellmerandom">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RandomizedBiography3"></activity>
        <activity android:name=".RandomizedBiography2" />
        <activity android:name=".RandomizedBiography1" />
        <activity android:name=".RandomizedCartoon3" />
        <activity android:name=".RandomizedCartoon2" />
        <activity android:name=".RandomizedCartoon1" />
        <activity android:name=".StartForthCategory" />
        <activity android:name=".StartThirdCategory" />
        <activity android:name=".RandomizedAnime3" />
        <activity android:name=".RandomizedAnime2" />
        <activity android:name=".RandomizedAnime1" />
        <activity android:name=".StartSecondCategory" />
        <activity android:name=".About" />
        <activity android:name=".RandomizedMovie5" />
        <activity android:name=".RandomizedMovie4" />
        <activity android:name=".RandomizedMovie3" />
        <activity android:name=".RandomizedMovie2" />
        <activity android:name=".RandomizedMovie1" />
        <activity android:name=".StartFirstCategory" />
        <activity android:name=".Categories" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>